
{% extends 'base.html' %}
{% block title %}
Category_select
{% endblock %}

{% block content %}
<form method="GET" action="/category">
    <div id="select">
      <button class="select_category" type="submit" name="wepon" value="0"><img class="category" src="https://xivapi.com/i/060000/060102_hr1.png"></button>
      <button class="select_category" type="submit" name="wepon" value="0"><img class="category" src="https://xivapi.com/i/060000/060102_hr1.png"></button>
      <button class="select_category"type="submit" name="wepon" value="1"><img class="category" src="https://xivapi.com/i/060000/060103_hr1.png"></button>
      <button class="select_category"type="submit" name="wepon" value="2"><img class="category" src="https://xivapi.com/i/060000/060170_hr1.png"></button>
      <button class="select_category"type="submit" name="wepon" value="3"><img class="category" src="https://xivapi.com/i/060000/060181_hr1.png"></button>
      <button class="select_category"type="submit" name="wepon" value="4"><img class="category" src="https://xivapi.com/i/060000/060104_hr1.png"></button>
      <button class="select_category"type="submit" name="wepon" value="5"><img class="category" src="https://xivapi.com/i/060000/060183_hr1.png"></button>
      <button class="select_category"type="submit" name="wepon" value="6"><img class="category" src="https://xivapi.com/i/060000/060101_hr1.png"></button>
      <button class="select_category"type="submit" name="wepon" value="7"><img class="category" src="https://xivapi.com/i/060000/060177_hr1.png"></button>
      <button class="select_category"type="submit" name="wepon" value="8"><img class="category" src="https://xivapi.com/i/060000/060106_hr1.png"></button>
      <button class="select_category"type="submit" name="wepon" value="9"><img class="category" src="https://xivapi.com/i/060000/060105_hr1.png"></button>
      <button class="select_category"type="submit" name="wepon" value="10"><img class="category" src="https://xivapi.com/i/060000/060182_hr1.png"></button>
      <button class="select_category"type="submit" name="wepon" value="11"><img class="category" src="https://xivapi.com/i/060000/060108_hr1.png"></button>
      <button class="select_category"type="submit" name="wepon" value="12"><img class="category" src="https://xivapi.com/i/060000/060109_hr1.png"></button>
      <button class="select_category"type="submit" name="wepon" value="13"><img class="category" src="https://xivapi.com/i/060000/060176_hr1.png"></button>
      <button class="select_category"type="submit" name="wepon" value="14,15"><img class="category" src="https://xivapi.com/i/060000/060107_hr1.png"></button>
      <button class="select_category"type="submit" name="wepon" value="16"><img class="category" src="https://xivapi.com/i/060000/060178_hr1.png"></button>
      <button class="select_category"type="submit" name="wepon" value="17"><img class="category" src="https://xivapi.com/i/060000/060171_hr1.png"></button>
      <button class="select_category"type="submit" name="wepon" value="18"><img class="category" src="https://xivapi.com/i/060000/060184_hr1.png"></button>
      <button class="select_category"type="submit" name="wepon" value="19,20"><img class="category" src="https://xivapi.com/i/060000/060112_hr1.png"></button>
      <button class="select_category"type="submit" name="wepon" value="21,22"><img class="category" src="https://xivapi.com/i/060000/060113_hr1.png"></button>
      <button class="select_category"type="submit" name="wepon" value="23,24"><img class="category" src="https://xivapi.com/i/060000/060114_hr1.png"></button>
      <button class="select_category"type="submit" name="wepon" value="25,26"><img class="category" src="https://xivapi.com/i/060000/060115_hr1.png"></button>
      <button class="select_category"type="submit" name="wepon" value="27,28"><img class="category" src="https://xivapi.com/i/060000/060116_hr1.png"></button>
      <button class="select_category"type="submit" name="wepon" value="29,30"><img class="category" src="https://xivapi.com/i/060000/060117_hr1.png"></button>
      <button class="select_category"type="submit" name="wepon" value="31,32"><img class="category" src="https://xivapi.com/i/060000/060118_hr1.png"></button>
      <button class="select_category"type="submit" name="wepon" value="33,34"><img class="category" src="https://xivapi.com/i/060000/060119_hr1.png"></button>
      <button class="select_category"type="submit" name="wepon" value="35,36"><img class="category" src="https://xivapi.com/i/060000/060139_hr1.png"></button>
      <button class="select_category"type="submit" name="wepon" value="37,38"><img class="category" src="https://xivapi.com/i/060000/060121_hr1.png"></button>
      <button class="select_category"type="submit" name="wepon" value="39"><img class="category" src="https://xivapi.com/i/060000/060138_hr1.png"></button>
      <button class="select_category"type="submit" name="wepon" value="40"><img class="category" src="https://xivapi.com/i/060000/060123_hr1.png"></button>
  </div>
  </form>
  <h3>防具</h3>
  <form method="GET" action="/category">
  <div id="select2">
      <button class="select_category"type="submit" name="wepon" value="41"><img class="category" src="https://xivapi.com/i/060000/060110_hr1.png"></button>
      <button class="select_category"type="submit" name="wepon" value="42"><img class="category" src="./static/Head_line.png" onmouseover="this.src='/static/Head.png'" onmouseout="this.src='./static/Head_line.png'"></button>
      <button class="select_category"type="submit" name="wepon" value="43"><img class="category" src="./static/Body_line.png" onmouseover="this.src='/static/Body.png'" onmouseout="this.src='./static/Body_line.png'"></button>
      <button class="select_category"type="submit" name="wepon" value="44"><img class="category" src="./static/Hand_line.png" onmouseover="this.src='/static/Hand.png'" onmouseout="this.src='./static/Hand_line.png'"></button>
      <button class="select_category"type="submit" name="wepon" value="45"><img class="category" src="./static/Legs_line.png" onmouseover="this.src='/static/Legs.png'" onmouseout="this.src='./static/Legs_line.png'"></button>
      <button class="select_category"type="submit" name="wepon" value="46"><img class="category" src="./static/Feet_line.png" onmouseover="this.src='/static/Feet.png'" onmouseout="this.src='./static/Feet_line.png'"></button>
  </div>
  </form>

  <h3>アクセサリ</h3>
  <form method="GET" action="/category">
  <div id="select4">
      <button class="select_category"type="submit" name="wepon" value="65"><img class="category" src="./static/EareRing_line.png" onmouseover="this.src='/static/EareRing.png'" onmouseout="this.src='./static/EareRing_line.png'"></button>
      <button class="select_category"type="submit" name="wepon" value="66"><img class="category" src="./static/Necklace_line.png" onmouseover="this.src='/static/Necklace.png'" onmouseout="this.src='./static/Necklace_line.png'"></button>
      <button class="select_category"type="submit" name="wepon" value="67"><img class="category" src="./static/Bracelets_line.png" onmouseover="this.src='/static/Bracelets.png'" onmouseout="this.src='./static/Bracelets_line.png'"></button>
      <button class="select_category"type="submit" name="wepon" value="68"><img class="category" src="./static/Ring_line.png" onmouseover="this.src='/static/Ring.png'" onmouseout="this.src='./static/Ring_line.png'"></button>
  </div>
  </form>

  <h3>その他</h3>
  <form method="GET"action="/category">
  <div id="select3">
      <button class="select_category_mini"type="submit" name="wepon" value="47"><img class="category_mini" src="https://xivapi.com/i/060000/060136.png"><h3 class="category_mini_h3">薬品</h3></button>
      <button class="select_category_mini"type="submit" name="wepon" value="48"><img class="category_mini" src="https://xivapi.com/i/060000/060137.png"><h3 class="category_mini_h3">食材</h3></button>
      <button class="select_category_mini"type="submit" name="wepon" value="49"><img class="category_mini" src="https://xivapi.com/i/060000/060146.png"><h3 class="category_mini_h3">調理品</h3></button>
      <button class="select_category_mini"type="submit" name="wepon" value="50"><img class="category_mini" src="https://xivapi.com/i/060000/060138.png"><h3 class="category_mini_h3">水産物</h3></button>
      <button class="select_category_mini"type="submit" name="wepon" value="51"><img class="category_mini" src="https://xivapi.com/i/060000/060139.png"><h3 class="category_mini_h3">石材</h3></button>
      <button class="select_category_mini"type="submit" name="wepon" value="52"><img class="category_mini" src="https://xivapi.com/i/060000/060140.png"><h3 class="category_mini_h3">金属材</h3></button>
      <button class="select_category_mini"type="submit" name="wepon" value="53"><img class="category_mini" src="https://xivapi.com/i/060000/060141.png"><h3 class="category_mini_h3">木材</h3></button>
      <button class="select_category_mini"type="submit" name="wepon" value="54"><img class="category_mini" src="https://xivapi.com/i/060000/060142.png"><h3 class="category_mini_h3">布材</h3></button>
      <button class="select_category_mini"type="submit" name="wepon" value="55"><img class="category_mini" src="https://xivapi.com/i/060000/060143.png"><h3 class="category_mini_h3">皮革材</h3></button>
      <button class="select_category_mini"type="submit" name="wepon" value="56"><img class="category_mini" src="https://xivapi.com/i/060000/060144.png"><h3 class="category_mini_h3">骨材</h3></button>
      <button class="select_category_mini"type="submit" name="wepon" value="57"><img class="category_mini" src="https://xivapi.com/i/060000/060145.png"><h3 class="category_mini_h3">錬金術材</h3></button>
      <button class="select_category_mini"type="submit" name="wepon" value="58"><img class="category_mini" src="https://xivapi.com/i/060000/060147.png"><h3 class="category_mini_h3">染料</h3></button>
      <button class="select_category_mini"type="submit" name="wepon" value="59"><img class="category_mini" src="https://xivapi.com/i/060000/060148.png"><h3 class="category_mini_h3">部品</h3></button>
      <button class="select_category_mini"type="submit" name="wepon" value="60"><img class="category_mini" src="https://xivapi.com/i/060000/060152.png"><h3 class="category_mini_h3">触媒</h3></button>
      <button class="select_category_mini"type="submit" name="wepon" value="61"><img class="category_mini" src="https://xivapi.com/i/060000/060153.png"><h3 class="category_mini_h3">雑貨</h3></button>
      <button class="select_category_mini"type="submit" name="wepon" value="62"><img class="category_mini" src="https://xivapi.com/i/060000/060154.png"><h3 class="category_mini_h3">シーズナル</h3></button>
      <button class="select_category_mini"type="submit" name="wepon" value="63"><img class="category_mini" src="https://xivapi.com/i/060000/060155.png"><h3 class="category_mini_h3">ミニオン</h3></button>
      <button class="select_category_mini2"type="submit" name="wepon" value="64"><img class="category_mini" src="https://xivapi.com/i/060000/060173.png"><h3 class="category_mini_h3">オーケストリオン譜</h3></button>      
    </div>
  </form>
{% endblock %} 